
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Noto Sans';
}
html, body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-VariableFont_wdth\,wght.ttf');
  
}

/* loder ka code  */
.loader{
    width: 100%;
    height: 100vh;
    background: #323232;
    color: white;
    /* background-color: #2BB454; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vw;
}
.loader-img-div{
  height: fit-content;
  overflow: hidden;
}
.loader img{
    font-size: 12vw;
    font-weight: normal;
    /* color: white;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */

}

.loading{
  
  font-style: italic;
  text-align: start;
  font-size: 3vw;
  /* margin-left: 23vw; */
  font-weight: 500;
  font-family: "Noto Sans";
}

.loading-div{
  width: 100%;
  height: fit-content;
  overflow-y: hidden;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.main{
    /* height: 100vh; */
    width: 100%;
    position: relative;
  /* background-color: #3b3b3b; */
}
.page1{
  width: 100%;
  min-height: 100vh;
  background-color: #f7f7f7;
}
.back{
    height: 100%;
    width: 100%;
    position: absolute;
}

.top{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    position: absolute;
    top: 0;
    left: 0;
    
    
}


.nav{
    display: flex;
    padding: 2vw 2vw;
   justify-content: space-between;
}
.left img{
    /* padding-top: 20px; */
    height: 4vw;
    font-weight: 400;
}

.right{
   display: flex;
   gap: 20px;
   align-items: center;
}

.right h2{
  font-size: 1.5vw;
  font-weight: 700;
  letter-spacing: -1px;
  
}
    
.right i{
    font-size: 2rem;
}
.container{
  padding: 8vw 4vw 7.5vw 4vw;
  /* padding-top: 4vw; */
  /* width: 70%; */
}

.heading-container{
  width: 100%;
  height: fit-content;
  overflow-y: hidden;
  text-align: center;
}

.heading-container h1{
  cursor: pointer;
  -webkit-text-stroke: 2px black;
  font-size: 6.5vw;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -0.5vw;
  color: rgba(0, 0, 0, 0);
  text-wrap: balance;
  /* -webkit-text-stroke: 2px black; */
}

.subheading .heading-container{
  margin: 0;
  text-align: start;
}

/* .green{
  color: #2BB454;
  /* font-style: italic; 
} */

.heading-container h2{
  margin-top: 12vw;
  margin-left: 0.5vw;
  font-size: 2.7vw;
  width: 40%;
  color: rgb(41, 41, 41);
  letter-spacing: -1px;
  line-height: 1;
  letter-spacing: -0.1vw;
}
.heading-container p{
  font-size: 1.2vw;
  margin-top: 2vw;
  margin-left: 0.5vw;
  width: 40%;
  color: #565656;
  /* text-align: center ; */
  font-weight: 600;
  text-wrap: balance;
  /* margin: auto; */
}

.buttons{
  display: flex;
  gap: 2vw;
  margin-top: 2vw;
  height: fit-content;
  overflow-y: hidden;
  text-transform: uppercase;
}

.btn{
  padding: 0.7vw 1.5vw  ;
  border: 1px solid seagreen;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
}
.btn1{
  background-color: #000;
  color: white;
}
.btn1:hover{
  border: 1px solid black;
  background-color: #ffff;
  color: #000;
  transition: ease-in 0.2s;
}
.btn2:hover{
  background-color: seagreen;
  color: white;
  transition: ease-in 0.2s;
}

.mousefollower{ 
  scale:1.5
}
@media (max-width:640px) {
  .loader-img-div img{
    width: 85vw;
  }
  .loading{
    font-size: 3vh;
    font-weight: 500;
    font-family: "Noto Sans";
  }
  .left img{
    height: 8vw;
    margin-top: 5px;
  }
  .heading-container .hero{
    font-size: 5.5vh;
    text-align: start;
  }
  .heading-container{
    margin-top: 15vh;

  }
  .subheading .heading-container h2{
    font-size: 6.5vw;
    margin-top: 15vh;
    width: 100%;
    text-wrap: balance;

  }
  .heading-container p{
    font-size: 2vh;
    width: 100%;
    margin: 5vw 0;
  }
  .btn1, .btn2{
    padding: 2vw 4vw;
    font-weight: 600;
  }
}